{% extends 'base.html' %}
{% block title %}
  Market Page
{% endblock %}

{% block content %}
      <table class="table table-hover table-dark">
        <thead>
            <tr>
                
                <th scope="col">FirstName</th>
                <th scope="col">LastName</th>
                <th scope="col">Email</th>
                <th scope="col">Mobile</th>
                <th scope="col">Address</th>
            </tr>
        </thead>
        <tbody>
           
            {% for item in users %}
                 <tr>
                    <td>{{ item.firstname }}</td>
                    <td>{{ item.lastname }}</td>
                    <td>{{ item.email_address }}</td>
                    <td>{{ item.mobile }}</td>
                    <td>{{ item.address }}</td>
                    
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}