{% extends 'base.html' %}
{% block title %}
    Home Page
{% endblock %}

{% block content %}
<div class="bg-blue">
    
    <h1 class="text-center">Welcome to Coditas!</h1>
    <br><br><br><br>
    <h2 class="text-center">**Have a Great Learning**</h2>
</div>
{% endblock %}