{% extends 'base.html' %}
{% block title %}
Register Page
{% endblock %}

{% block content %}
<body class="text-center">
    <div class="container">
        <form method="POST" class="form-register" style="color:white">
            {{form.hidden_tag()}}
            <img class="mb-4" src="./image.png" alt="">
            <h1 class="h3 mb-3 font-weight-normal">
                Please enter Employee details
            </h1>
            <br>

            

            {{ form.firstname.label() }}
            {{ form.firstname(class="form-control", placeholder="First Name") }}

            {{ form.lastname.label() }}
            {{ form.lastname(class="form-control", placeholder="last Name") }}

            {{ form.email_address.label() }}
            {{ form.email_address(class="form-control", placeholder="Email Address") }}

            {{ form.mobile.label() }}
            {{ form.mobile(class="form-control", placeholder="Mobile") }}

            {{ form.address.label() }}
            {{ form.address(class="form-control", placeholder="Address") }}

            <br>

            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}

        </form>
    </div>
</body>
{% endblock %}